<!DOCTYPE html>
<html class="whole">
  <head>
    <title>Posts</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">

  <div class="stylees">
  <%= link_to "New Post", new_post_path%>
  <%= link_to "Home", root_path%>
  <%= link_to "Sign Up", new_user_registration_path%>
  <%= link_to "Login", new_user_session_path%>
  <%= link_to "Logout", destroy_user_session_path, method: :delete, data: {confirm: "Do you really want to logout?"}%>
  </div>
  <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
